.input-window {
	width: 300px;
	background-color: lightsteelblue;
	height: 50px;
	padding: 30px 0 0 30px;
}

.error {
	border: solid 2px red;
}

.correct {
	color: green;
	font-weight: bold;
}

.container {
	display: flex;
	max-width: 230px;
	flex-direction: column;
}

.inputfocus {
	border: solid 2px green;
	outline: none;
}

.price {
	border: solid 1px black;
	margin-bottom: 3px;
}

.remove {
	border: solid 0.5px black;
	border-radius: 45%;
	margin: 2px 2px;
}
